.container-workspace-chatroom {
  background: lightpink;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container-workspace {
  width: 1000px;
  height: 730px;
  background: whitesmoke;
  margin-right: 40px;
  border-radius: 3%;
}

.container-chat {
  border: 1px;
  width: 500px;
  height: 600px;
  background: lavender;

  border-radius: 3%;
}

.container-chat-enter {
  background: lightskyblue;
  height: 100px;
}
.container-chat-enter textarea {
  height: 7em;
  width: 35em;
}

.outer {
  background: #b1e0bc;
  width: 1200px;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.room-title {
  text-align: center;
}

.container-message {
  display: flex;
  flex-direction: column;
}

.container-message p {
  display: inline-block;
}

.user {
  display: inline-block;
  width: 45px;

  margin-top: 30px;
}

.my-message {
  width: 400px;
  background: #f0e8e5;
  border-radius: 10px;
  word-break: break-all;

  min-height: 35px;
  overflow: hidden;
  margin-bottom: -10px;
}
.container-other-user {
  display: flex;
  justify-content: flex-end;
}

.other-users {
  display: inline-block;
  width: 45px;

  margin-top: 5px;
}

.other-message {
  width: 400px;
  background: #4a91fb;
  text-align: right;
  border-radius: 10px;
  word-break: break-all;
  text-align: right;
  min-height: 35px;
  overflow: hidden;
  margin-bottom: 10px;
}
.enter-message {
  margin-top: auto;
  background: purple;
  display: flex;
  height: 100px;
  justify-content: flex-end;
}

.enter-message textarea {
  height: 100%;
  width: 90%;
  box-sizing: border-box;
}

.btn-send {
  width: 10%;
  height: 100%;
}
