.outer {
  background: #b1e0bc;
  width: 1200px;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.room-title {
  text-align: center;
}

.container-chat-message p {
  display: inline-block;
}

.own-user {
  background: red;
}

.my-message {
  width: 400px;
  background: #f0e8e5;
  border-radius: 10px;
  word-break: break-all;
}

.other-user {
  display: flex;
  width: 100%;

  justify-content: flex-end;
}

.other-message {
  width: 400px;
  background: #4a91fb;
  text-align: right;
  border-radius: 10px;
  word-break: break-all;
}
.enter-message {
  margin-top: auto;
  background: purple;
  display: flex;
  height: 100px;
  justify-content: flex-end;
}

.enter-message textarea {
  height: 100%;
  width: 90%;
  box-sizing: border-box;
}

.btn-send {
  width: 10%;
  height: 100%;
}
