.container-workspace-question-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-user-workspace-button {
  display: flex;
  flex-direction: row;
}

.user-individual-workspace {
  background: darkcyan;
  height: 500px;
  font-size: 25px;
}
