.outer {
  background: purple;
}

.outer dialog {
  width: 1000px;
}

.outer h4 {
  display: inline-block;
  width: 100px;
  background: red;
}
.answer {
  height: 150px;
  background: pink;
  margin-top: 20px;
}

textarea {
  width: 100%;
  margin-top: 30px;
}
.buttons {
  display: flex;
  justify-content: flex-end;
}
.buttons button {
  margin-left: 20px;
}
