.outer-answer {
  background: purple;
}

.outer-answer dialog {
  width: 1500px;
  height: 1000px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.outer-answer h4 {
  display: inline-block;
  width: 100px;
  background: red;
}
.answer {
  height: 500px;
  background: pink;
  margin-top: 20px;
}

.outer-answer textarea {
  width: 100%;
  margin-top: 30px;
}
.buttons {
  display: flex;
  justify-content: flex-end;
}
.buttons button {
  margin-left: 20px;
}
