.question-title p {
  display: inline-block;
  width: 1250px;
  height: 60px;
}

.question-title h3:hover {
  cursor: pointer;
}

.question-title {
  border: 3px solid grey;
  margin-bottom: 15px;
  border-radius: 5px;
}

.question-title hr {
  color: black;
}

.question-title h4 {
  text-align: center;
}
