.icon-upvote {
  width: 55px;
  height: 36px;
  left: 238px;
  top: 195.24px;
}
.icon-upvote:hover {
  cursor: pointer;
}
.icon-downvote {
  position: absolute;
  width: 55px;
  height: 36px;

  transform: rotate(-180deg);
}
.icon-downvote:hover {
  cursor: pointer;
}
